fastapi
elasticsearch==7.7.0  
pinecone-client[grpc]==2.2.1
sentence-transformers 
langchain 
uvicorn[standard]
pydantic
requests
redis
fastapi-cache2[memcache]
git+https://github.com/mbonea-ewallet/poe-api-wrapper.git#egg=poe-api-wrapper[proxy]

